/* about section*/
.about-section body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    
    align-items: center;
    background-color: #f1f1f1;
}
.about-section{
    background: url(img/pcuno.jpg) no-repeat left; 
    background-size: 55%;
    background-color: var(--main-font-color);
    overflow: hidden;
    padding: 100px 0;

}

.inner-container{
    border-radius: 10px;
    width: 45%;
    float: right;
    background-color:#f1f1f1;
    padding: 100px;
}

.inner-container h1{
    font-family:'Roboto', sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text {
    font-family:'Roboto', sans-serif;
    font-size: 13px;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 40px;
}

.skills{
    font-family:'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    font-size: 13px;
}


@media screen and (max-width:1250px){
    .inner-container{
        padding: 80px;
    }
}

@media screen and (max-width:1080px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 60px;
    }
}